# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo

# Logs / temp
*.log
*.tmp
*.bak
*.dmp
*.mdmp
*~

# Dota Workshop Tools local metadata/cache
tools_asset_info.bin
tools_thumbnail_cache.sqlite3*

# Source 2 compiled/generated assets
*.vpk
*.vmap_c
*.vmdl_c
*.vmat_c
*.vtex_c
*.vpcf_c
*.vsnd_c
*.vwrld
*.vrman
*.vwnod
*.vents

# Generated map data
*.los